<%- include('partials/header') -%>

<main class="max-w-sm mx-auto mt-10 p-8 bg-base-200/60 rounded-2xl shadow-md">
  
  <div class="row justify-content-center">
    <section class="col-6 mt-5 space-y-4">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-error text-white"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <!-- Logo -->
      <div class=" mx-auto w-20 h-20 bg-primary/10 rounded-lg flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-primary" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M13.737 6.789a.75.75 0 0 1 .475.948l-3 9a.75.75 0 0 1-1.423-.474l3-9a.75.75 0 0 1 .948-.474m2.275 1.141a.75.75 0 0 1 1.058.082l3 3.5a.75.75 0 0 1 0 .976l-3 3.5a.75.75 0 0 1-1.14-.976L18.513 12l-2.581-3.012a.75.75 0 0 1 .08-1.057M7.988 7.93a.75.75 0 0 1 .081 1.058L5.488 12l2.581 3.012a.75.75 0 0 1-1.138.976l-3-3.5a.75.75 0 0 1 0-.976l3-3.5a.75.75 0 0 1 1.057-.081" clip-rule="evenodd"/></svg>
      </div>
      <form action="/login" method="POST" class="space-y-4">
        <!-- Email -->
        <div class="form-control">
          <label for="exampleInputEmail1" class="label"
            >
            <span class="label-text">Email</span>
            </label
          >
          <input
            type="email"
            placeholder="Enter email"
            class="input input-bordered"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <!-- Password -->
        <div class="form-control">
          <label for="exampleInputPassword1" class="label">
            <span class="label-text">Password</span>
            </label>
          <input
            type="password"
            class="input input-bordered"
            placeholder="Enter password"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <!-- Submit -->
        <button type="submit" class="btn btn-primary bg-opacity-30 w-full "><svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8z"
          ></path>
        </svg> Login</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
